.card-img {
  max-width: 50%;
  display: flex;
}

.card-filter {
  display: flex;
  gap: 30px;
}

.card-title {
  margin-top: -12px;
}

.item {
  margin-bottom: 120px;
}

//filtres

.item {
  transition: all 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.item p,
.item h3 {
  transition: color 0.2s;
}

.item:hover p,
.item:hover h3 {
  color: var(--couleur);
}

.filters {
  margin-bottom: 100px;
}
