footer {
  color: black;
  background: white;
  padding: 20px 0 50px;
  margin-top: 150px;
}

footer a {
  font-weight: 800;
  text-decoration: none;
}

#footer-copyright {
  text-align: right;
  margin-top: 40px;
}

#footer-social {
  display: flex;
  gap: 20px;
}

#footer-contact {
  display: flex;
  gap: 60px;
  align-items: center;
}

// Couleur au hover
.footer-icon {
  color: black;
  transition: color 0.2s ease-in-out;
}

.footer-icon:hover {
  color: var(--couleur);
}

// Animation survol mail
#footer-mail {
  line-height: 2;
  position: relative;
  transition: color 0.2s;
}

#footer-mail:hover {
  color: #60d400;
}

#footer-mail::before {
  content: "";
  width: 0;
  height: 1.5px;
  border-radius: 2px;
  background-color: #60d400;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

#footer-mail:hover::before {
  width: 100%;
  left: 0;
}

#footer-mail:hover {
  mix-blend-mode: difference;
}
