footer {
  color: black;
  background: white;
  padding: 20px 0 50px;
  margin-top: 150px;
}

footer a {
  font-weight: 800;
  text-decoration: none;
}

#footer-copyright {
  text-align: right;
  margin-top: 40px;
}

#footer-social {
  display: flex;
  gap: 20px;
}

#footer-contact {
  display: flex;
  gap: 60px;
  align-items: center;
}
