.logo-b {
  height: 70px;
  width: auto;
  margin-right: 10px;
}

.logo-text {
  font-weight: 400;
}

.logo-all {
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.logo-all:hover {
  color: var(--couleur);
}
