.ornement img {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  pointer-events: none;
}

.ornement {
  margin: 150px 0;
  padding: 0 12px;
  pointer-events: none;
}

.ornement-back {
  opacity: 15%;
  position: fixed;
  top: 440px;
}
