// Filtres informatifs
.projet-filter {
  display: flex;
  justify-content: end;
  gap: 30px;
}

// Animation survol projets web
.projet a {
  color: #fff;
  font-weight: 800;
  line-height: 2;
  position: relative;
  transition: color 0.2s;
}

.projet a:hover {
  mix-blend-mode: difference;
  color: var(--couleur);
}

.projet a::before {
  content: "";
  width: 0;
  height: 1.5px;
  border-radius: 2px;
  mix-blend-mode: difference;
  background-color: var(--couleur);
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.projet a:hover::before {
  width: 100%;
  left: 0;
}

// Espaces images
.projet-space {
  height: 600px;
  display: flex;
  align-items: end;
}

.projet-margin-bottom {
  margin-bottom: 60px;
}

#projet-pdf-fee {
  height: 800px;
}

@media (max-width: 992px) {
  .projet-img-size {
    max-width: 300px;
    margin-top: 30px;
  }

  .projet-img-size-place {
    display: flex;
    justify-content: end;
  }

  .projet-space {
    height: 400px;
  }

  .projet-space img {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .projet-selected img {
    margin-bottom: 30px;
  }
}
