* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

:root {
  --couleur: #9f2bff;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: local("CabinetGrotesk"),
    url("../fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Variable.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Variable.ttf") format("truetype");
}

body {
  color: white;
  background: black;
  font-family: CabinetGrotesk, sans-serif;
  font-size: 1.5rem;
  position: relative;
}

header {
  padding: 50px 0 120px;
}

header a {
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

nav {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 40px;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

h3 {
  font-size: 6.25rem;
  font-weight: 800;
  line-height: 100%;
}

@media (max-width: 768px) {
  h3 {
    padding-top: 30px;
  }
}

img {
  max-width: 100%;
}

a,
a * {
  text-decoration: none !important;
}

// Boutons des filtres
button {
  background-color: white;
  border: 1px black solid;
  color: black;
  padding: 10px 25px;
  border-radius: 60px;
  font-size: 24px;
  font-weight: 800;
  transition-duration: 0.2s;
  margin-bottom: 10px;
}

button:hover {
  background-color: black;
  border: 1px var(--couleur) solid;
  color: var(--couleur);
}

// Curseur personnalisé
html,
a,
button {
  cursor: none;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: white;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out;
}

// Animation survol navigation
nav a {
  color: #fff;
  line-height: 2;
  position: relative;
  transition: color 0.2s;
}

nav a:hover {
  color: var(--couleur);
}

nav a::before {
  content: "";
  width: 0;
  height: 1.5px;
  border-radius: 2px;
  background-color: var(--couleur);
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

nav a:hover::before {
  width: 100%;
  left: 0;
}

// Sélection
::selection {
  background-color: var(--couleur);
}

::-moz-selection {
  background-color: var(--couleur);
  color: #000;
}
