* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: local("CabinetGrotesk"),
    url("../fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Variable.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Variable.ttf") format("truetype");
}

body {
  color: white;
  background: black;
  font-family: CabinetGrotesk, sans-serif;
  font-size: 1.5rem;
}

header a {
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
}

nav {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 40px;
}

header {
  padding: 50px 0 120px;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

h3 {
  font-size: 6.25rem;
  font-weight: 800;
}

img {
  max-width: 100%;
}
